
*{
    margin: 0;
    padding: 0;
}
body{
    overflow-x: hidden;
}

nav{
    position: fixed;
}
.text{
    color: red;
    margin-top: 30px;
    font-size: 32px;
    margin-top: 80px;
    margin-left: 50px;
}
@media(max-width:415px){
    .image{
        width: 300px;
    }
}


